body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 0 auto;
	background: linear-gradient(to right, red, orange);
}

h1{
	margin-left: 10%;
	color: #ffabcd;
	padding: 2em;
	letter-spacing: 1.5em;
}

input{
	outline: none;
	border: 2px #fedcba solid;
	background: #123456;
	box-shadow: 2px 4px 3px black;
	border-radius: 8px;
}

.color1, .color2{
	margin: 20px;
}

h3{
	margin-left: 3%;
	color: #fedcba;
	padding: 2em;
	width: 100%;
	letter-spacing: 1.5em;
}

h4{
	padding: 2em;
	width: 100%;
}

@media screen and (max-width: 1440px){

	h1, input, h3, h4{
		margin: auto;
	}

	h1, h3{
		letter-spacing: 0.5em;
	}

}

@media screen and (max-width: 400px){
	
	h1{
		font-size: 1.17em;
	}
}

@media screen and (max-width: 550px){
	
	h1{
		font-size: 1.25em;
	}
}

@media screen and (max-width: 320px){
	
	h1{
		font-size: 1em;
	}
}

@media screen and (max-width: 300px){
	
	h3{
		font-size: 1em;
	}
}
